body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
  }
  
  #gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .btn {
    color: red
  }